
body {background-color: black; font-family: 'Comfortaa';font-size: 1rem;}
h1 {color: white;}
h2 {color: white;}
p {color: white}
a {text-decoration: none; color:white}
a:active {color: red;}

.container {
  max-width: 45%;
  display: flex; /* Makes the image and text align side by side 
  flex-direction: row; Ensures the text is on the right of the image */
  align-items: center; /* Aligns image and text vertically in the center */
  /*  padding: 20px; */
  margin-bottom: 25px; /*Adds spacing between containers */
  /* flex-wrap: nowrap;  */
}

.container img {
 
  margin-right: 20px; /* Adds space between the image and text */
  display: block
}

.text-container {
  display: flex;
  flex-direction: column; /* Stacks the heading and paragraph vertically */
}
