{% extends 'base.html' %}

{% block title %} Contact {% endblock %}

{% block content %}

<p>nicolobramante@gmail.com</p>
<p>+31 6 12957283</p>
<p>&emsp;</p>


<p>LinkedIn: <a class="link-offset-2 link-underline link-underline-opacity-0" href="https://www.linkedin.com/in/nicolobramante?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BUcu17aB5Sq%2BkqkJ425Bq6A%3D%3D">nicolobramante</a></p>
<p>Instagram: <a class="link-offset-2 link-underline link-underline-opacity-0" href ="https://www.instagram.com/nicolobramantee/">@nicolobramantee</a></p>
<p>YouTube: <a class="link-offset-2 link-underline link-underline-opacity-0" href="https://www.youtube.com/@nicolobramante">Nicolo Bramante</a></p>
<p>&emsp;</p>
<p>&emsp;</p>
<p>&emsp;</p>
<p>&emsp;</p>
<p>&emsp;</p>
<p>&emsp;</p>

{% endblock %}
