{% extends 'base.html' %}

{% block title %} Contact {% endblock %}

{% block content %}


<p>&emsp;</p>
<div class="position-relative">
    <img src="static/images/Paper.png" class="img-fluid" alt="Responsive image" style="width:400px;height:auto">
    <div class="position-absolute top-50 start-50 translate-middle text-white">
        <h3 style="color:rgb(71, 71, 222)">Let's get in touch!</h3>
        <p>&emsp;</p>
        <p>nicolobramante@gmail.com</p>
        <p>+31 612 957 283</p>
        <p>LinkedIn: <a class="link-offset-2 link-underline link-underline-opacity-0" href="https://www.linkedin.com/in/nicolobramante?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BUcu17aB5Sq%2BkqkJ425Bq6A%3D%3D">nicolobramante</a></p>
        <p>Instagram: <a class="link-offset-2 link-underline link-underline-opacity-0" href ="https://www.instagram.com/nicolobramantee/">@nicolobramantee</a></p>
        <p>YouTube: <a class="link-offset-2 link-underline link-underline-opacity-0" href="https://www.youtube.com/@nicolobramante">Nicolo Bramante</a></p>
    </div>
</div>

{% endblock %}
