{% extends 'base.html' %}

{% block title %} Nicolo Bramante {% endblock %}

{% block content %}    

<div class="container text-center mt-5">
    <div class="row align-items-center g-1">
      <!-- Image Section -->
      <div class="col-md-auto">
        <img src="static/images/Nicolo.jpg" alt="Nicolò Bramante" class="img-fluid img-fixed">
      </div>
      <!-- Text Section -->
      <div class="col">

        <h2>
          <strong>Nicolò Bramante</strong> <br>
          <i>Independent Producer</i>
        </h2>
      </div>
    </div>
  </div>
  <p> 
    add description</br> I LOVE MY GIRLFRIEND VERY MUCH, I think she has a big head like a baby and she's super cute ♥
  </p>
  <p>&emsp;</p>
  <p>&emsp;</p>
  <p>&emsp;</p>
  <p>&emsp;</p>
  <p>&emsp;</p>
                    
    

{% endblock %}
       

     

