{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}


<div class="container mt-5">
    <div class="card transparent-card">
      <div class="row g-0">
        <!-- Image Section -->
        <div class="col-md-4">
          <img src="static/images/Poster Aurio.jpg" class="img-fluid card-img-left" alt="Image"style="width:100%;height:auto">
        </div>
        <!-- Text Section -->
        <div class="col-md-8 d-flex align-items-center">
          <div class="card-body text-white">
            <h3 class="card-title">Adrenaline</h3>
            <p class="card-text">
                LOGLINE:<br/>
                Lil J's complex drug empire thrives until a cold-blooded rival jeopardizes his love and business, igniting a high-stakes turf war in NYC.
            </p>
            <a href="/adrenaline" class="btn btn-outline-primary">Discover more</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="card transparent-card">
      <div class="row g-0">
        <!-- Image Section -->
        <div class="col-md-4">
          <img src="static/images/lfl.jpeg" class="img-fluid card-img-left" alt="Image"style="width:100%;height:auto">
        </div>
        <!-- Text Section -->
        <div class="col-md-8 d-flex align-items-center">
          <div class="card-body text-white">
            <h3 class="card-title">LFL</h3>
            <p class="card-text">
                Description
            </p>
            <a href="/lfl" class="btn btn-outline-primary">Discover more</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="card transparent-card">
      <div class="row g-0">
        <!-- Image Section -->
        <div class="col-md-4">
          <img src="static/images/Poster Underdog.jpg" class="img-fluid card-img-left" alt="Image"style="width:100%;height:auto">
        </div>
        <!-- Text Section -->
        <div class="col-md-8 d-flex align-items-center">
          <div class="card-body text-white">
            <h3 class="card-title">The Underdog</h3>
            <p class="card-text">
                Description
            </p>
            <a href="/underdog" class="btn btn-outline-primary">Discover more</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container mt-5">
  <div class="card transparent-card">
    <div class="row g-0">
      <!-- Image Section -->
      <div class="col-md-4 d-flex align-items-center">
        <img src="" class="img-fluid card-img-left" alt="Image"style="width:100%;height:auto">
      </div>
      <!-- Text Section -->
      <div class="col-md-8">
        <div class="card-body text-white">
          <h3 class="card-title">Documentaries</h3>
          <p class="card-text">
              Description
          </p>
          <a href="#" class="btn btn-outline-primary">Discover more</a>
        </div>
      </div>
    </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card transparent-card">
      <div class="row g-0">
        <!-- Image Section -->
        <div class="col-md-4">
          <img src="" class="img-fluid card-img-left" alt="Image"style="width:100%;height:auto">
        </div>
        <!-- Text Section -->
        <div class="col-md-8 d-flex align-items-center">
          <div class="card-body text-white">
            <h3 class="card-title">Acting</h3>
            <p class="card-text">
                Description
            </p>
            <a href="#" class="btn btn-outline-primary">Discover more</a>
          </div>
        </div>
      </div>
  </div>
</div>

           
  {%endblock%}
  
  
  
  
  
  
  
  